.phone{
    background: url(/images/illustrator.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.our-dream{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.our-dream h3{
    font-size: 20px;
    font-family: var(--font-familyone);
}

.text1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.text-img{
    width: 80%;
    height: 450px;
}
.text-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-p{
    width: 80%;
    height: auto;
    margin-top: 20px;
    font-family: var(--font-familytwo);
    text-align: justify;
}

.text2{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text2 p{
    width: 80%;
    font-family: var(--font-familytwo);
    
    text-align: justify;
}

.team-mate{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
    
}
.team{
    margin-top: 40px;
}
.team h3{
    text-align: center;
}

.caption{
    display: none;
} 
.profile-card{
    width: 250px;
    height: 250px;
    background-color: #0E5BA7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: 1s all;
    cursor: pointer;
    margin-top: 20px;
}
.profile-card:hover{
    border-radius: 20px;
}
.profile-card:hover .caption{
    display: flex;
    margin-top: -80px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}


.profile-card .profile-img{
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    transition: .6s all ease-in-out;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.15);

}
.detail{
    font-family: var(--font-familyone);
    font-weight: 400;
    font-size: 15px;
}
.name{
    font-family: var(--font-familytwo);
    font-weight: 300;
    font-size:15px
}
.profile-card:hover .profile-img{
    border-radius: 20px;
    transform:translateY(-90px);;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.social-links{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.social-links a{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}


@media screen and (min-width:760px) {
    .phone{
        height: 450px;
    }
    .our-dream h3{
        font-size: 35px;
    }
    .text-img{
        height: auto;
    }
    .text-p{
        font-size: 25px;
    }
    .text2 p{
        font-size: 25px;
    }
    .team-mate{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:960px) {
    .phone{
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
    }
    .our-dream{
        margin-top: 70px;
    }
    .text-img{
        width: 25%;
    }
    .text-p{
        width: 60%;
        font-size: 20px;
        line-height: 2;
    }
    .text2 p{
        font-size: 20px ;
        line-height:2;
    }
    .profile-card{
        width: 320px;
        height: 320px;
    }
    .profile-card .profile-img{
        width: 250px;
        height: 250px;
    }
}